/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

/* grayscale.css */
.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
    color: black !important;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color: black;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background: whitesmoke;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        color: white !important;
    }
    .navbar-custom.top-nav-collapse a{
        color: white !important;
    }

    .navbar-custom.top-nav-collapse h3{
        display: none;
    }

}
@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}
/* grayscale css ends here */

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Full Page Image Header Area */
.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.subtitle h3{
  font-size: 14px;
  margin-top: 7px;
}
/* Intro */
.intro {
  padding: 50px 0;
  background: #EDE7D8;
}

#contact img{
  width: 100%;
}

/* contact */
#contact {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.social{
  width: 140px;
  height: 140px;
  display: block;
  margin: auto;
}
.social_wrap{
  float: left;
  width: 20%;
}

.width_100{
  width: 100%;
}

/* tagline */
.tagline {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/img5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */
#portfolio, #projects {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}
.portfolio
{
  background: url(../img/img1.jpg) no-repeat center center fixed;
  color: white;
  font-size: 18px;
}
.project_container{
  width: 100%;
  color: white ;
  background: url(../img/img1.jpg) no-repeat center center fixed;
  font-size: 18px;
}
#my_work, #experience{
  width: 100%;
  color: white ;
  font-size: 18px;
  padding: 50px 0;
}

.more_work{
  color: black;
  margin-left: 2%;
  margin-top: 26px;
  overflow: hidden;
}

#my_work{
  background: #EDE7D8;
  background: url(../img/two.png) center center fixed;
}

#experience{
  background-color:yellow;
}

#my_work img, #experience img
{
  width: 100%;
  height: 100%;
}
#my_work .img_container, #experience .img_container
{
  display: block;
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 46%;
}

#my_work .img_container .images, #experience .img_container .images
{
  margin-bottom: 20px;
  height: 360px;
  width: 100%;
  margin: auto;
  display: block;
}
#my_work .img_container .content, #experience .img_container .content{
  color: black;
  text-align: justify;
  margin-top: 20px;
}

.width_50{
  width: 50%;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}

/* Map */
.map {
  height: 500px;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
.container{
  width:100%;
}
.width_30{
  width: 30%;
}
.clear{
  clear: both;
}
#bottom_banner
{
  width: 100%;
}
#bottom_banner img{
  width: 100%;
}
/* Responsive */

@media (max-width: 940px) {
.subtitle h3
  {
   font-size: 11px;
  }
  .nav > li > a{
    padding-left: 7px;
    padding-right: 7px;
  }

  #my_work .img_container, #experience .img_container
  {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .header {
    background-size: 40pc;
  }

/*  .tagline,.portfolio {
    background-size: 40pc;
  }*/
  .map {
	 height: 75%;
  }
  .portfolio, #projects{
    font-size: 15px;
  }
  .portfolio h3, #projects h3{
    font-size: 15px;
    font-weight: bold !important;
  }

  .portfolio tr, #projects tr{
    margin-top: 10px;
  }

  #my_work, #experience{
    font-size: 15px;
  }

  .vert-text h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 19px;
  }
  h3{
    font-size: 21px;
  }

  #contact .social{
    height: 100px;
    width: 100px;
  }
  .project_blog, .company_pfb{
    clear: both;
    margin-top: 8%;
  }
  .header{
    height: 40%;
    margin-top: 14%;
  }
  .tagline{
    height: 250px;
  }
  .map {
    height: 300px;
  }

  .navbar-custom.top-nav-collapse h3{
      display: none;
  }
  .social_wrap{
    width: 50%;
  }

  #my_work .img_container .images, #experience .img_container .images
  {
    width: 100%;
    height: 350px;
  }
  #portfolio, #projects {
    width: 95%;
  }
  #intro{
    padding: 10px 0;
  }
  .subtitle h3
  {
   display: none;
  }
}

@media (max-width: 468px) {
  .width_30{
    width: 60%;
  }
  #my_work,#experience{
    font-size: 14px;
  }
  .nav > li > a{
    padding: 10px 11px;
  }
}


@media (max-width: 405px) {
  #my_work .img_container .images, #experience .img_container .images
  {
    height: 125px;
    width: 282px;
  }
}
@media (max-width: 303px) {
  #my_work .img_container .images, #experience .img_container .images
  {
    height: 125px;
    width: 225px;
  }
}
