/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/new6.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
  background: #EDE7D8;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

.social{
  width: 140px;
  height: 140px;
  display: block;
  margin: auto;
}
.social_wrap{
  /*width: 20%;*/
  float: left;
  margin-right: 5%;
  margin-left: 4.5%;
}
img.fb,img.gitgub{
  width: 100%;
}
img.in{
  width: 100%;
}
img.twitter{
  width: 100%;
}
img.google{
  width: 100%;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/img5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

#portfolio,#projects {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}
.portfolio
{
  background: url(../img/bg.jpg) no-repeat center center fixed;
  color: white;
  font-size: 18px;
}
.project_container{
  width: 100%;
  color: white ;
  background: url(../img/img1.jpg) no-repeat center center fixed;
  font-size: 18px;
}
#my_work{
  width: 100%;
  color: white ;
  font-size: 18px;
  height: 100%;
}
#my_work img
{
  width: 100%;
}
#my_work .img_container
{
  display: block;
  float: left;
  width: 46%;
  margin-right: 2%;
  margin-left: 2%;
}

#my_work .img_container a
{
  width: 400px;
  height: 250px;
  float: left
}

#my_work .img_container .content{
  float: left;
  color: black;
  /*width: 400px;*/
  text-align: justify;
}

.my_work_cointainers{
  /*width: 800*/
}
.width_50{
  width: 50%;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}

/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
.container{
  width:100%;
}
.width_30{
  width: 30%;
}
.clear{
  clear: both;
}
#bottom_banner
{
  /*height: 500%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  background: url(../img/new7.png) no-repeat center center fixed;*/
  /*background: url(../img/new7.png) no-repeat center center fixed;*/
  width: 100%;
  height: 100%;
}
#bottom_banner img{
  width: 100%;
}
/* Responsive */

@media (max-width: 768px) {
  .header {
	background: url(../img/new6.png) no-repeat center center scroll;
  background-size: 40pc;
  }

  .callout {
	background: url(../img/img5.jpg) no-repeat center center scroll;
  }

  .map {
	height: 75%;
  }
  .portfolio, #projects{
    font-size: 15px;
  }
  .portfolio h3, #projects h3{
    font-size: 15px;
    font-weight: bold !important;
  }

  .portfolio tr, #projects tr{
    margin-top: 10px;
  }

  .follow_me{
    margin-left: 12%;
  }
}

@media (max-width: 468px) {
  .follow_me{
    margin-left: 25%;
  }
  .call-to-action h2{
    font-size: 22px;
  }
  .call-to-action h3{
    font-size: 18px;
  }
  .width_30{
    width: 60%;
  }
}

